<%= form_with(model: [journal_entry.accounting_entry,journal_entry], local: true) do |form| %>
  <% if journal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

      <ul>
        <% journal_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :post_type %>
    <%= form.select(:post_type,JournalEntry::POST_TYPES.map{|trans_type|[trans_type]},{},{class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label :account_id %>
    <%= form.select(:account_id,Account.all.map{|account| [account.name,account.id]},{},{class: "form-control"})%>
  </div>

  <%# <div class="form-group"> %>
    <%# <%= form.label :accounting_entry_id %1> %>
    <%# <%= form.text_field :accounting_entry_id,class: "form-control" %1> %>
  <%# </div> %>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
