<p>
  <strong>Amount:</strong>
  <%= @journal_entry.amount %>
</p>

<p>
  <strong>Post type:</strong>
  <%= @journal_entry.post_type %>
</p>

<p>
  <strong>Account:</strong>
  <%= @journal_entry.account_id %>
</p>

<p>
  <strong>Accounting entry:</strong>
  <%= @journal_entry.accounting_entry_id %>
</p>

<%= link_to 'Edit', edit_accounting_entry_journal_entry_path(params[:accounting_entry_id],@journal_entry) %> |
<%= link_to 'Back', accounting_entry_journal_entries_path(params[:accounting_entry_id]) %>
